{
    "rules": {
        "no-console": "off",
        "global-require": "off",
        "import/no-dynamic-require": "off",
        "prefer-destructuring": "off",
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx"]
            }
        ]
    }
}
