/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

/* *Global Styles* */

* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

input {
    margin: 0 5px;
    font-size: 1em;
    border: none;
}

img {
    width: 100%;
}

label {
    display: block;
}

li {
    list-style: none;
}

table {
    display: block;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

thead {
    margin-left: 0;
    /* border-bottom: 2px solid #aaaaaa; */
}

td,
th {
    padding: 10px;
    text-align: left;
}

td:last-child {
    border: none;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ececec;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.App {
    background-color: #fff;
    height: 100vh;
    width: 100%;
}
