/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

/* *Global Styles* */

* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

input {
    margin: 0 1em;
}

img {
    width: 100%;
}

label {
    display: block;
}

li {
    list-style: none;
}

table {
    display: block;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

thead {
    margin-left: 0;
    /* border-bottom: 2px solid #aaaaaa; */
}

td,
th {
    padding: 10px;
    text-align: left;
}

td:last-child {
    border: none;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ececec;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* *Container Styles* */

#root {
    width: 100vw;
    height: 100vh;
}

.App {
    /* max-height: 100vh; */
    background-color: #333333;
}

.MainTask {
    background-color: #fff;
}

.MainSession {
    display: grid;
    grid-template-columns: auto max-content;
    background-color: #fff;
    max-height: 100vh;
    min-width: 1270px;
    min-height: 520px;
}

.Welcome {
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}

/* *Config Styles* */

.Config {
    background-color: #fff;
    margin: 10px;
}

/* *MatchingTask Styles* */

.MatchingTask {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: min-content min-content min-content;
    min-width: 800px;
    max-height: 100vh;
    gap: 10px;
    margin: 10px;
}

.taskInstructions {
    margin-top: 10px;
    grid-column: 1 / span 2;
    background-color: white;
    font-size: 1.3em;
}

.taskFigureWrapper {
    background-color: white;
    margin: 5px;
}

.taskFigure {
    margin: 10px auto;
}

.taskGridWrapper {
    background-color: #ececec;
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    transform: translate(0, 0); /* ? Forces overlay bounds to container. */
}

.figureLabel {
    margin-block-end: 0.5em;
    text-align: center;
    text-decoration: underline;
}

.figureImg {
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); */
    border: 2px solid #ccc;
    border-radius: 5%;
}

.TaskGrid {
    margin: 15px;
    display: grid;
    grid: repeat(4, 1fr) / repeat(7, 1fr);
    gap: 10px;
}

.taskInfo {
    grid-column: 1 / span 2;
    text-align: right;
    margin: 10px;
    min-height: 70px;
    background-color: white;
}

.score {
    margin: 10px;
    font-size: 1.3em;
}

.score li {
    display: inline-block;
    padding-right: 20px;
}

/* *GridTile Styles* */

.tile {
    border: none;
    padding: 0;
    align-items: inherit;
    display: inherit;
    appearance: none;
}

.tile img {
    border-radius: 5%;
    user-select: none;
}

.matchedTileImg {
    cursor: initial;
    border: 4px solid #61aa6b;
    opacity: 0.25;
}

.unmatchedTileImg {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #aaaaaa;
    cursor: pointer;
}

.unmatchedTileImg:hover {
    border: 4px solid #8ddfff;
}

/* *TaskOverlay Styles* */

.TaskOverlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: inherit;
    z-index: 1;
    user-select: none;
}

.overlayWrapper {
    display: grid;
    position: inherit;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
}

.overlayBox {
    display: grid;
    grid-template-columns: 80px minmax(200px, 1fr);
    grid-template-rows: 100px;
    background-color: #67af6e;
    place-self: center;
    place-items: center;
    border-radius: 15px;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 10px;
}

.overlaySymbol {
    font-size: 2em;
}

.overlayMessage {
    font-size: 1.5em;
    padding-right: 25px;
}

/* *Alarm Task* */

.AlarmTask {
    display: grid;
    grid-template-rows: auto 40%;
    overflow-y: hidden;
    max-height: 100vh;
    margin: 10px;
}

/* *Alarm Table* */

.AlarmTable {
    display: grid;
    grid-template-rows: min-content auto;
    overflow-y: auto;
    height: 100%;
}

.AlarmHeader {
    width: 100%;
}

.AlarmHeaderCol {
    cursor: pointer;
    border-bottom: 2px solid #ececec;
    height: 42px;
}

.AlarmHeaderCol:hover {
    background-color: #d5f2ff;
}

.selectedHead {
    border-bottom: 2px inset #8ddfff;
}

.alarmTableBody {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    border-collapse: collapse;
}

.alarmTableBody tr {
    cursor: pointer;
}

.alarmTableBody tr:nth-child(odd) {
    background-color: #ececec;
}

.alarmTableBody tr:hover {
    background-color: #d5f2ff;
}

.alarmTableBody td:last-child {
    font-weight: bold;
}

.selectedRow {
    background-color: #ccc !important;
    font-weight: bold;
}

/* *Alarm Details* */

.AlarmDetails {
    display: block;
    margin: 10px auto;
    padding: 10px 0;
    width: 100%;
}

.detailsBar {
    display: inline-block;
    width: 100%;
}

.detailsBar h2 {
    padding-top: 3px;
    float: left;
}

.btn {
    float: right;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 8px 16px;
    margin-right: 10px;
}

.btn:hover {
    border: 1px solid #8ddfff;
}

.escalateBtn {
    background-color: #a8e3ae;
}

.ignoreBtn {
    background-color: #e3a8a8;
}

.detailsTable {
    border-collapse: separate;
}

.detailsTable tr {
    border-bottom: 2px solid #aaa;
}

.detailsTable td {
    text-align: center;
}

/* *AlarmAction* */

.AlarmAction {
    float: right;
}

.actionLabel {
    font-weight: bold;
}

.actionSelect {
    margin-left: 10px;
    padding: 8px;
    font-weight: bold;
}
